<div class="container">
  <form [formGroup]="postForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Create a New Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="form-container">
          <mat-form-field>
            <textarea
              matInput
              type="text"
              formControlName="content"
              placeholder="Text"
            ></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="basic" type="button" (click)="onClear()">
          CLEAR
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          POST
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <button mat-raised-button color="primary" type="button" (click)="onRequest()">
    GET ALL
  </button>
  <button mat-raised-button color="primary" type="button" (click)="onRequestMine()">
    GET MINE
  </button>

  <mat-card *ngFor="let post of currentPosts" type="post" class="post-card">
    <app-post-card [post]="post" [email]="this.user.email" (refresh)="onRequest()"></app-post-card>
  </mat-card>
</div>
